
.favorite-list{
    flex-wrap: wrap;
    gap: 2rem;
    word-wrap: break-word;
   
}
.favorite-container{
    display: flex;
    align-items:center;
    gap: 30px;
    width: 300px;
    height: 251px;
    
}

.img-favorite{
    height:136px ;
    width: 91px;
    margin-left: 20px;
}