* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    width: 100%;
    height: 100%;

}

nav{
    background-color: #007a7c;
    height: 80px;
}



main{
   width:99% ; 
   margin: 0 auto;
}


input{
    padding: 3px;
    width: 391px;
}

.list {
    padding-top: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2rem;
    word-wrap: break-word;
}

.item {
    width: 230px;
    border: 1px solid #d3cdcdf3;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
    padding: 3px;
    


}

.item:hover{
    border: 1px solid #28a745;

}

.book-title {
    font-size: 1rem;
    height: 60px;
    padding-top: 15%;
}

.item img {
    width: 148px;
    height: 245px;

}

.section-btn{
    margin-bottom: 10px;
   
}

.img-favorite:hover {
    background-color: red;
    color: aliceblue;
    border: none;

}

span .img-favorite{
    height: 16px;
    width: 16px;
}



dialog::backdrop {
    background-color: rgb(0 0 0 / .6);

}

dialog {
    margin: auto auto;
    border: none;
    border-radius: .5rem;
    box-shadow: 0 0 1rem rgb(0 0 0 / .3);
    width: 80%;
    padding: 2px;

}



